<div class="row">
  <div class="col-xs-12">

    <button class="btn btn-success" (click)="onNewRecipe()">new Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">

    <app-recipe-item [index]="i" [recipe]="recipeEl" *ngFor="let recipeEl of recipes;let i=index"></app-recipe-item>
  </div>
</div>
<P appBasicHighlight> This is the style from the custom directive</P>
<p appBetterHighlight defaultBackgroundColor="red" [customBackgroundColor]="'yellow'"> this is the style apply
  from the appBetterHighlight</p>