.items-array {
  border: 2px solid #000;
  background-color: bisque;
  margin: 20px 20px;
  padding: 10px 10px;
}
.active {
  background-color: rgba(0, 250, 75, 0.533);
  color: #fff;
  border: 2px solid #1eff00;
}
